<anu-error *ngIf="!serviceInfo" [code]="error?.code || 404" [message]="error?.message || 'Service not found'"></anu-error>
<article>
    <h1>{{serviceInfo?.name}}</h1>
    <p [innerHtml]="serviceInfo?.description"></p>
    <anu-tabs [tabs]="tabs" [activeTab]="activeTab" (changed)="tabChanged($event)"></anu-tabs>

    <section *ngIf="activeTab.name === tabs[0].name">
        <ng-container *ngIf="serviceInfo?.inputProps && serviceInfo?.inputProps.length">
            <h2>Input Properties</h2>
            <anu-component-props [props]="serviceInfo?.inputProps"></anu-component-props>
        </ng-container>
        <ng-container *ngIf="serviceInfo?.outputProps && serviceInfo?.outputProps.length">
            <h2>Output Properties / Events</h2>
            <anu-component-props [props]="serviceInfo?.outputProps"></anu-component-props>
        </ng-container>
        <ng-container *ngIf="serviceInfo?.props && serviceInfo?.props.length">
            <h2>Properties</h2>
            <anu-component-props [props]="serviceInfo?.props"></anu-component-props>
        </ng-container>
        <ng-container *ngIf="serviceInfo?.methods && serviceInfo?.methods.length">
            <h2>Methods</h2>
            <anu-component-props [props]="serviceInfo?.methods" [type]="propertyTypes.METHOD"></anu-component-props>
        </ng-container>
    </section>

    <section *ngIf="activeTab.name === tabs[1].name">
        <p>You can run your service methods and see their output.
            Below screen provides you the input boxes to enter your method argument values.</p>
        <anu-search-box [items]="serviceInfo?.methods" [keys]="searchKeys" (changed)="onMethodSearch($event)"
            placeholder="service method name...">
        </anu-search-box>
        <label>Results: {{filteredMethods?.length || 0}} of {{serviceInfo?.methods?.length || 0}}</label>
        <ng-container *ngFor="let fn of filteredMethods">
            <anu-card class="method-card shadow spacing">
                <anu-card-body>
                    <anu-collapsible [collapsed]="false" [hamBurgerClassNames]="['size-sm']">
                        <anu-collapsible-header>
                            <a href="javascript:void(0)">
                                {{fn.name}}(...)
                            </a>
                        </anu-collapsible-header>
                        <anu-collapsible-content>
                            <anu-card>
                                <anu-card-body>
                                    <p [innerHtml]="fn.description"></p>
                                    <anu-service-method [method]="fn"
                                        (changed)="methodParametersChanged($event, fn)"></anu-service-method>
                                    <anu-error *ngIf="methodErrors[fn.name]" [code]="methodErrors[fn.name].code"
                                        [message]="methodErrors[fn.name].message"></anu-error>
                                    <anu-collapsible *ngIf="methodResponses[fn.name]" [hamBurgerClassNames]="['size-sm']">
                                        <anu-collapsible-header>
                                            <a href="javascript:void(0)">Method response</a>
                                        </anu-collapsible-header>
                                        <anu-collapsible-content>
                                            <anu-code-block [source]="methodResponses[fn.name]">
                                            </anu-code-block>
                                        </anu-collapsible-content>
                                    </anu-collapsible>
                                </anu-card-body>
                            </anu-card>
                        </anu-collapsible-content>
                    </anu-collapsible>
                </anu-card-body>
            </anu-card>
        </ng-container>

    </section>

    <section *ngIf="activeTab.name === tabs[2].name">
        <h2>{{serviceInfo?.tsUrl}}</h2>
        <anu-code-block [source]="serviceInfo?.tsSource"></anu-code-block>
    </section>
</article>
<anu-spinner [show]="loading"></anu-spinner>
