<anu-collapsible [collapsed]="true" [hamBurgerClassNames]="['size-md']">
    <anu-collapsible-header>Usage</anu-collapsible-header>
    <anu-collapsible-content>
        <anu-code-block [source]="usageSource" language="markup"></anu-code-block>
    </anu-collapsible-content>
</anu-collapsible>

<div class="row nowrap-lg nowrap-md">
    <div class="spacing col-sm-12 output-section">
        <h2>Rendered Component</h2>
        <section class="output-container relative">
            <ng-container #vc>
            </ng-container>
        </section>
    </div>


    <div class="spacing col-sm-12 secondary-lightest-bg shadow input-properties-section">
         <!-- Output Properties Form -->
        <h2>Output Properties Subscriptions</h2>
        <i>You can see results of Output property subscriptions</i>
        <div *ngIf="outputPropResults && outputPropResults.length" class="spacing-around-vertical"><a href="#"
                (click)="clearOutputPropResults($event)">Clear Output Results</a></div>
        <ol class="spacing-around-vertical">
            <li class="input-prop spacing-around-vertical" *ngFor="let propResult of outputPropResults">
                <label>{{propResult.prop.name}}(...)</label>
                <textarea readonly [value]="propResult.resultStr"></textarea>
            </li>
        </ol>
         <!-- Input Properties Form -->
        <h2>Input Properties</h2>
        <i>Try changing below properties, and see the resulting effect in the Output section of the component.</i>
        <div class="spacing-around-vertical">
            <div class="input-prop spacing-around-vertical" *ngFor="let prop of componentInfo?.inputProps">
                <label>{{prop.name}}</label>
                <anu-toggle *ngIf="prop.type === 'boolean'" [checked]="inputPropsValues[prop.name]" [rounded]="true"
                    (changed)="inputPropsChanged($event, prop)"></anu-toggle>
                <input *ngIf="['string', 'number'].includes(prop.type)" type="text"
                    [(ngModel)]="inputPropsValues[prop.name]" (blur)="inputPropsChanged($event, prop)">
                <textarea *ngIf="!['string', 'number', 'boolean'].includes(prop.type)"
                    [(ngModel)]="inputPropsValues[prop.name]" (blur)="inputPropsChanged($event, prop)"></textarea>
            </div>
        </div>
    </div>
</div>
