:host {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    .prop-container{
        border: 1px solid  var(--anu-secondary-lighter);
        background-color: var(--anu-secondary-deep-light);
        border-radius: calc(var(--anu-border-radius)/2);
        padding: 0.5rem;
        margin-bottom: 1.5rem;
    }

    table {
        td {
            vertical-align: bottom;
            border: none;
        }
    }

    h3 {
        margin-bottom: 0;
    }

    label {
        border-bottom: 1px solid var(--anu-secondary-light);
        font-weight: bold;
        padding-bottom: 0;
    }

}
